:root {
  --color-primary: #333;
  --color-primary-orange: rgb(247, 145, 1);
  --color-light: #d6d5d5;
  --color-light-alt: #6a6a6a;
  --time-transition-control: 0.2s ease;

  --color-main-bg: #ffffff;

  --color-border: #e9e7e7;
  --color-card-bg: #ffffff;

  --color-card-highlight: rgba(0, 0, 0, 0.1);

  --color-login-input-bg: #eff2f9;
  --color-login-button-bg: #6865f6;
}

.dark-mode {
  --color-primary: #ffffff;
  --color-primary-orange: rgb(247, 145, 1);
  --color-light: #afacac;
  --color-light-alt: #aaa8a8;
  --time-transition-control: 0.2s ease;
  --color-border: #646464;
  --color-main-bg: #363255;
  --color-card-highlight: rgba(255, 255, 255, 0.2);
}
