:root{
    --color-primary: #333;
    --color-primary-orange: rgb(247, 145, 1);
    --color-light: #d6d5d5;
    --color-light-alt: #6a6a6a;
    --time-transition-control: 0.2s ease;
    --color-main-bg: rgb(255, 255, 255);
 
}