@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap");

/* Hide the scrollbar in Webkit browsers (including Safari and Chrome) */
::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #e9e7e7;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 80px;
  margin-right: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  font-size: 28px;
  font-weight: 300;
  color: #000000;
  text-shadow: 1px 1px 1px #d6d5d5;
}

.navbar-content a {
  text-decoration: none;
}

.content {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
 
}

.search-box {
  margin-right: 100px;
}

.search-box input {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 80px;
  padding-left: 20px;

  border-radius: 20px;
  border: 1px solid #d6d5d5;
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

.right-navbar {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* On hover, ease in to make bigger */
.group-icon img {
  transition: transform 0.3s ease;
}

.group-icon img:hover {
  transform: scale(1.15);
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #d6d5d5;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
}

/* Add box shadow transition */
.navbar-menu {
  transition: box-shadow 0.3s ease; /* Add a transition for the box-shadow property */
}

/*add a drop shadow upon hover, shadow in downward direction*/
.navbar-menu:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.favorite-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d6d5d5;
  background-color: rgb(18, 155, 18);
  margin-left: 30px

}

.favorite-container h4{
  font-size: 15px;
  font-weight: 500;
  color: white;
}


.favorite-container:hover{
  cursor: pointer;
  background-color: green;
}

@media screen and (max-width: 988px) {
  .search-box {
    display: none;
  }

  .favorite-container{
    display: none;
  }


}
 
.category {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;

}  




.category-list {
  margin-top: 10px;
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
 


}

.category-list a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  font-weight: 300;
}

.category-item {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.category-item p{
  white-space: nowrap;
}

.category-item:hover {
  border-bottom: 2px solid rgb(190, 187, 187);
  cursor: pointer;
}

.more-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d5d5;
  padding: 6px;
  padding-left: 8px;
  border-radius: 50%;
}

.image-border {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending {
  margin-bottom: 20px;
}

.trending h2 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}

.recipe-list h4 {
  font-size: 15px;
  font-weight: 550;
  color: #333;
}

.recipe-list {
  /* display: flex;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* I want my rows to be the exact same height as my auto generated columns */
  grid-auto-rows: 1fr;
  
  gap: 20px;

  font-family: "Montserrat", sans-serif;
  flex-wrap: wrap;

}

.recipe-list li {
  list-style: none;
}

.recipe-list a {
  text-decoration: none;
  color: #333;
}

.recipe-list p {
  font-size: 15px;
  font-weight: 300;
  color: #827f7f;
}

.recipe-container {
 
  margin-bottom: 25px;
  width: 100%;




}

.recipe-img-container{
  width: 100%;
  
  height:calc(100% - 30px);;
}

.recipe-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  
}


footer {
  border-top: 1px solid #d8d7d7;
  color: #333;
  padding: 20px; /* Padding inside the footer */
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 10px;

}

footer p{
  font-size: 14px;
}


@media screen and (max-width: 800px) {
  .content {
    margin-left: 50px;
    margin-right: 50px;
  }

  .navbar-content {
    margin-left: 50px;
    margin-right: 50px;
  }

  .recipe-list{
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  footer{
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .recipe-list{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  
}

@media screen and (max-width: 500px) {
  .content {
    margin-left: 31px;
    margin-right: 31px;
  }

  .navbar-content {
    margin-left: 31px;
    margin-right: 31px;
  }

  .group-icon {
    display: none;
  }

  .recipe-list{
    grid-template-columns: 1fr;
  }

  footer{
    padding-left: 31px;
    padding-right: 31px;
  }


}






.recipe-content h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rating-container{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  
}

.rating-container svg{
  width: 24px;
  height: 24px;
  fill: rgb(255, 102, 0);

 
}

.recipe-intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.recipe-intro img{

  width: 100%;
  height: auto;

  
}



